<article
  class="room"
  [ngClass]="{
    room: true,
    'room--unavailable': !room.available
  }"
>
  <h3 class="room__identifier">
    <span>{{ room.name }}</span>
  </h3>
  <div class="room__photo-wrapper">
    <img
    *ngIf="room.photo"
    [src]="room.photo"
    alt="Photo of room {{ room.name }}"
    />
    <ng-container *ngIf="!room.photo">
      <div class="fallback">
        <mat-icon [inline]="true" aria-hidden="false" aria-label="bed icon">bed</mat-icon>
      </div>
    </ng-container>
  </div>
  <button mat-mini-fab color="white" class="room__button room__button--edit" (click)="onClickEditRoom(room.name)">
    <mat-icon color="primary">edit</mat-icon>
  </button>
  <!-- <span class="tag tag--unavailable" *ngIf="!room.available">unavailable</span> -->
</article>
