@import "src/assets/scss/abstracts/_mixins.scss";

:host {
    width: 100%;
    height: 100%;

    // center children
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .form-container {
        & form {
            min-width: 300px;
            width: 30rem;
            max-width: 100%;

            & .form-row {
                display: flex;
                flex-direction: column;

                // & .mat-form-field {
                //     display: block;
                // }
            }

        }
    }
}

// .page-body {
//     padding: var(--padding-medium);
//     width: 50%;
//     margin: 0 auto;
//     box-sizing: border-box;

//     @include respond(tab-land) {
//         padding: var(--padding-small);
//         width: 80%;
//     }

//     @include respond(phone) {
//         // padding: var(--padding-min);
//         width: 90%;
//     }
//     & .form-row {

//         margin-top: 2rem;
        
//         &__submit {
//             margin-top: 3rem;
//         }
    
//         & label {
//             display: block;
//             margin-bottom: 0.5rem;
//         }

//         & input {
//             width: 100%;
//             height: 4rem;
//             box-sizing: border-box;
//             display: block;
//         }
//     }
// }