<header>
  <!-- <section class="actions-left">
    <app-button
      *ngIf="state.showRoomDetails"
      (btnClick)="onClickBackToRooms()"
      text="back"
      [isDisabled]="false"
    ></app-button>
  </section> -->
  <h1>Rooms</h1>
</header>
<section class="page-body">
  <!-- <ng-container *ngIf="this.rooms$ | async as rooms"> -->
    
    
    
    <!-- <ng-container *ngIf="this.authService.currentUser$ | async as user"> -->
      <ng-container  *ngIf="this.state.rooms">
        roomsList {{this.state.rooms}}
      </ng-container>
      <app-rooms-list
        *ngIf="!state.showRoomDetails"
        [rooms]="state.rooms"
        (newRoomFormSubmitted)="onNewRoomFormSubmitted($event)"
        (roomMarkUnavailable)="onRoomMarkUnavailable($event)"
        (roomSelectedForEdit)="onRoomSelectedForEdit($event)"
      ></app-rooms-list>
      <!-- <app-room-edit
        class="page-body__room-edit"
        *ngIf="state.showRoomDetails"
        [roomToUpdate]="state.selectedRoom"
        [userUid]="user?.uid"
        (updateFormSubmitted)="onUpdateRoomFormSubmitted($event)"
      ></app-room-edit> -->
    <!-- </ng-container> -->




  <!-- </ng-container> -->
</section>
