// .app-notifications {
//     width: 100%;
// }
.notifications {
    display: flex;
    flex-direction: column;

    & .notificationsList {
        display: block;
    }

    & .notifications__button--toggle {
        align-self: center;

        cursor: pointer;
        border: none;
        background: none;
        color: var(--white);
        border: 1px solid transparent;
        height: 3rem;
        // opacity: 0.5;
        

        &:hover {
            color: var(--main-color-dark);
            border-color: currentColor;
            border-radius: var(--border-radius);
        }

        &.half-transparent {
            // opacity: 0.3;
        }
    }
}