@import "../../assets/scss/abstracts/mixins";

.page-body {
    padding: var(--padding-medium);
    width: 100%;
    box-sizing: border-box;

    @include respond(tab-land) {
        padding: var(--padding-small);
    }

    @include respond(phone) {
        padding: var(--padding-min);
    }

    &__room-edit {
        width: 100%;
        display: block;
    }
}