<div class="wrapper">
  <ng-container *ngIf="addRoomOn">
    <h3>Add a new Room</h3>
    <!-- <form action="">
            <input type="text" name="room-number" id="room-number" placeholder="Enter the room number">
            <button>submit</button>
        </form> -->

    <form #roomData="ngForm" (ngSubmit)="onClickSubmit(roomData)">
      <div class="form-row form-row--identifier">
        <label for="roomNumber">Room Number</label>
        <input id="roomNumber" type="number" name="roomNumber" ngModel/>
      </div>
      <div class="form-row">
        <label>Single Beds</label>
        <input id="singleBeds" type="number" name="roomSingleBeds" ngModel/>
        <!-- <select id="singleBeds" name="roomSingleBeds" ngModel>
          <option *ngFor="let number of [0, 1, 2, 3]" [ngValue]="number">
            {{ number }}
          </option>
        </select> -->
      </div>
      <div class="form-row">
        <label for="doubleBeds">Double Beds</label>
        <input id="doubleBeds" type="number" name="roomDoubleBeds" ngModel/>
      </div>
      <div class="form-row">
        <label for="babyCots">Baby Cots</label>
        <input id="babyCots" type="number" name="babyCots" ngModel/>
      </div>
      <div class="form-row">
        <input type="submit" value="submit" />
      </div>
    </form>
  </ng-container>
  <button
    [ngClass]="{
      'add-room__button add-room__button--toggle': true,
      'add-room__button--cancel': addRoomOn
    }"
    (click)="addRoomClickHandler()"
  >
    {{ addRoomOn ? "Cancel" : "add room" }}
  </button>
</div>
