<header>
  <app-header class="app-header"></app-header>
</header>
<main>
  <!-- only show if logged in? NO there can be notifications even on the homepage, but notifications after login are different -->
  <section class="app-notifications">
    <!-- <app-notifications class="app-notifications" [notifications]="notifications"></app-notifications> -->
    <app-notifications></app-notifications>
  </section>
  <section class="app-body">
    <router-outlet></router-outlet>
  </section>
</main>
<footer>
  <app-footer></app-footer>
</footer>