:host {
    display: inherit;
    width: inherit;
}

nav {
    width: 100%;

    padding-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 5rem 1fr 8fr 1fr 5rem;
    grid-template-areas: "padding-left logo top-nav auth padding-right";
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;

    #logo {
        grid-area: logo;
        padding-top: 1rem;
    }


    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        grid-area: top-nav;
        justify-self: center;
        display: flex;
        flex-direction: row;
        gap: calc(var(--grid-gap)*2);
    
        & li {
            // list-style: none;
            // flex: 1;
            display: flex;
            align-items: center;
    
            a {
                color: var(--main-color-dark);
                text-decoration: none;
                padding: 0px 1.6rem;
                height: 3.6rem;
                font-size: 1.4rem;
                line-height: 3.6rem;
                text-transform: uppercase;
                border-radius: 1.8rem;
                font-weight: 500;
                letter-spacing: 0.1em;
                
                &:hover,
                &:active {
                    background-color: var(--gray1);
                }
                
                &.active-link {
                    color: var(--highlight-color);
                    background-color: var(--gray1);
                    text-shadow: 1px 1px 1px var(--white);
                }
            }

            .button--logout {
                margin-bottom: 2px;
            }
        }
    }

    .auth {
        grid-area: auth;
        justify-self: right;
    }
}



