<header>
  <app-open-statistics-widget [roomsTotal]="roomsTotal" [statistics]=statistics ></app-open-statistics-widget>
  <h1>Open Hotel Manager <small>(v2)</small></h1>
  <h2>A new generation HOTEL MANAGEMENT SYSTEM</h2>
</header>
<section class="page-body">
  <article>
    <h3>Finnaly open again!</h3>
    <p>
      We are finally open again after the LONG Covid-19 break, that we took in 2020.<br>
      Our software is still free for all open source hotels.<br>
      We are still open source.<br>
      You can find more information on that <a href="https://github.com/georgikarchev/ohm-angular-app">here</a>.
    </p>
  </article>
  <h3>How are we better than the rest?</h3>
  <article>
    <h3>DESIGNED SPECIALLY FOR SMALL HOTELS,
      GUESTHOUSES AND HOSTELS</h3>
    <p>
      Every single detail of the system is designed specially for the management of small hotels and a relatively small number of rooms and guests. This guarantees you faster orientation in the system, less mistakes and spending no time training yourself or your colleagues and employees to use the system.
    </p>
  </article>
  <article>
    <h3>WE REQUIRE LESS OF YOUR TIME</h3>
    <p>
      We work together with small hotel owners and know that it is not always an option to have a fulltime receptionist to handle bookings, walkins and checkouts. That is why we have designed every process of Open hotel manager to require just a couple of minutes at a time and to support you in any possible way.
    </p>
  </article>
  <article>
    <h3>NO EXPERT OR IT KNOWLEDGE NEEDED</h3>
    <p>
      We don't want you to spend money and time hiring IT experts to install and maintain our system. That is why we have created a system, which requires no installation and maintenance whatsoever.
    </p>
  </article>
  <article>
    <h3>USE ON ANY COMPUTER OR EVEN YOUR PHONE</h3>
    <p>
      You just login using your Open hotel manager username and password. You can work with the system from as many computers as you like* and even from your phone**, just the way you do with your email and facebook.
      <small>* While using the app on multiple devices is supported, only a single log in is possible at the same time.</small>
      <small>** Using the app on mobile phones is exclusively enabled for premium users.</small>
    </p>
  </article>
  <article>
    <h3>WE ARE 100% FREE</h3>
    <p>
      Rather than charging you money for using our software, we provide you with the opportunity to use it 100% free. As a matter of fact we don't require any credit card information whatsoever. And we don't mean that you can use Open hotel manager free for just a trial period. No. What we mean is that the service is free of charge and will remain free of charge for as long as we can afford it. We would rather offer premium accounts to the users who want to have online support and use the system on their phone. These users we charge every year a small amount of money so that we can cover the cost for our support team.
    </p>
  </article>
</section>
