header {
  text-align: center;

  margin-top: 5vw;
  margin-bottom: 5vw;

  & h1 {
    font-size: 4.8rem;
    font-weight: 100;

    small {
      font-size: 0.3em;
    }
  }

  & h2 {
    font-size: 1.65rem;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.page-body {
    h3 {
        text-transform: uppercase;
        font-weight: 100;
    }
}
