<header></header>
<section class="page-body">
    <section class="widgets">
        <app-statistics-widget class="widgets__widget widget widget--statistics"></app-statistics-widget>
        <app-next-check-in-out-widget class="widgets__widget widget widget--next-check-in-out"></app-next-check-in-out-widget>
        <app-weather-widget class="widgets__widget widget widget--weather"></app-weather-widget>
        <app-time-widget class="widgets__widget widget widget--time"></app-time-widget>
    </section>
</section>
