<div class="wrapper">
  <section class="image-wrapper">
    <!-- <form #roomImage="ngForm" (ngSubmit)="onClickSubmitImageForm(roomImage)"> -->
    <!-- <input #inputFile type="file" hidden (change)="onFileSelected($event)"> -->
    <input #inputFile type="file" (change)="uploadFile($event)" hidden>
    <!-- </form> -->
    <button (click)="inputFile.click();">
      upload photo
    </button>
    <img [src]="roomToUpdate.photo ?? 'assets/images/rooms/placeholder-image.png'" alt="">
  </section>
  <section class="data-wrapper">
    <h3>Edit room</h3>
  
    <form #roomData="ngForm" (ngSubmit)="onClickSubmitDataForm(roomData)">
      <div class="form-row form-row--identifier">
        <label for="roomName">Room Name/Number</label>
        <input id="roomName" type="text" name="roomName" [(ngModel)]="roomToUpdate!.name" />
      </div>
      <div class="form-row">
        <label>Single Beds</label>
        <input id="singleBeds" type="number" name="roomSingleBeds" [(ngModel)]="roomToUpdate!.singleBeds" />
      </div>
      <div class="form-row">
        <label for="doubleBeds">Double Beds</label>
        <input id="doubleBeds" type="number" name="roomDoubleBeds" [(ngModel)]="roomToUpdate!.doubleBeds" />
      </div>
      <div class="form-row">
        <label for="babyCots">Baby Cots</label>
        <input id="babyCots" type="number" name="roomBabyCots" [(ngModel)]="roomToUpdate!.babyCots" />
      </div>
      <div class="form-row">
        <input type="submit" value="save" />
      </div>
    </form>
  </section>

  
  <!-- <button
    class="add-room__button add-room__button--cancel"
    (click)="onClickCancelEditRoom()"
  >
    Cancel
  </button> -->
</div>
