<header>
  <h1><span>Add a new</span> Room</h1>
  <button mat-fab color="white" class="button--cancel" (click)="onClickCancel()" >
    <mat-icon color="primary">delete</mat-icon>
    <span class="tooltip">CANCEL</span>
  </button>
</header>
<section class="page-body">
  <div class="wrapper">
    
      <div class="form-container">
        <form [formGroup]="addRoomForm" (ngSubmit)="onClickSubmit()">
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Room Number</mat-label>
              <input
                matInput
                placeholder="Room Number"
                id="roomNumber"
                type="text"
                name="roomNumber"
                formControlName="roomNumber"
              />
            </mat-form-field>
            <div *ngIf="!addRoomForm.controls['roomNumber'].pristine && addRoomForm.controls['roomNumber'].errors?.['roomNumberTaken']" class="alert alert-danger">
              <p>
                This room number is already taken
              </p>
            </div>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Single Beds</mat-label>
              <input
                matInput
                placeholder="Single Beds"
                id="singleBeds"
                type="number"
                name="singleBeds"
                formControlName="singleBeds"
                min="0"
                max="10"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Double Beds</mat-label>
              <input
                matInput
                placeholder="Double Beds"
                id="doubleBeds"
                type="number"
                name="doubleBeds"
                formControlName="doubleBeds"
                min="0"
                max="4"
              />
            </mat-form-field>
          </div>
          <div *ngIf="!addRoomForm.controls['doubleBeds'].pristine && !addRoomForm.controls['singleBeds'].pristine && addRoomForm.errors?.['atLeastOneBed']" class="alert alert-danger">
            <p class="danger">
              A room needs to have at least one bed.
            </p>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Baby Cots</mat-label>
              <input
                matInput
                placeholder="Baby Cots"
                id="babyCots"
                type="number"
                name="babyCots"
                formControlName="babyCots"
                min="0"
                max="2"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Base price &euro;</mat-label>
              <input
                matInput
                placeholder="Base price"
                id="basePrice"
                type="number"
                name="basePrice"
                formControlName="basePrice"
                min="0"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Price per extra adult &euro;</mat-label>
              <input
                matInput
                placeholder="Price per extra adult"
                id="pricePerExtraAdult"
                type="number"
                name="pricePerExtraAdult"
                formControlName="pricePerExtraAdult"
                min="0"
              />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Price per extra child &euro;</mat-label>
              <input
                matInput
                placeholder="Price per extra child"
                id="pricePerExtraChild"
                type="number"
                name="pricePerExtraChild"
                formControlName="pricePerExtraChild"
                min="0"
              />
            </mat-form-field>
          </div>
          <div class="form-row form-row__submit">
            <button mat-flat-button color="primary" type="submit" [disabled]="!addRoomForm.valid">ADD NEW ROOM</button>
          </div>
        </form>
      </div>
    
  </div>
</section>
