:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-min);

  & h3 {
    font-size: 1.5rem;
  }

  & .form-container {
    & form {
      min-width: 300px;
      width: 30rem;
      max-width: 100%;

      & .form-row {
        display: flex;
        flex-direction: column;

        // & .mat-form-field {
        //     display: block;
        // }
      }
    }
  }

  & .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--identifier {
      font-weight: bold;
    }
  }
}
