<div class="notifications">
  <ng-container *ngIf="showNotifications">
    <ng-container
      class="notificationsList"
      *ngFor="let notificationItem of notifications"
    >
      <app-notification
        *ngIf="!notificationItem.dismissed"
        [notification]="notificationItem"
      ></app-notification>
    </ng-container>
  </ng-container>
  <button
    *ngIf="getNumberOfUndismissedNotifications() > 0"
    [ngClass]="
      showNotifications
        ? 'notifications__button--toggle'
        : 'notifications__button--toggle half-transparent'
    "
    (click)="toggleNotificationsVisibilityHandler()"
  >
    {{ showNotifications ? "hide notifications" : "show " + getNumberOfUndismissedNotifications() + " notifications" }}
  </button>
</div>
