<section class="rooms-list">
  <ng-container *ngFor="let room of rooms">
    <app-room class="rooms-List__room" [room]="room"></app-room>
  </ng-container>
  <!-- <div>
        <ng-container *ngFor="let post of posts">
            <div class="post">
                {{post.userId}} | {{post.id}} | {{post.title}}
            </div>
        </ng-container>
    </div> -->
    <app-room-add class="add-room" (formSubmitted)="onNewRoomFormSubmitted($event)"></app-room-add>
    <!-- <div class="add-room">
      <button
        class="add-room__button"
        (click)="addRoomClickHandler()"
      >
        {{ addRoomOn ? "Cancel" : "add room" }}
      </button>
    </div> -->
</section>
